/* CSS declarations go here */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 20pt;  
  }
 .splash-hero {
  height:300px;
}
}


@media screen and (max-width: 992px) {
  h1 {
    font-size: 15pt;
  }

  .splash-hero{
    height:250px;
  }

  .btn-large-splash{
    width: 180px;
    height:40px; 
    padding: px 0 0; 
  }
  .competition-hero {
 height:300px;
}
}


@media screen and (min-width: 992px) {
  h1 {
    font-size: 40pt;
  }

  .splash-hero{
    height:550px;
  }
  .btn-large-splash{
    width: 300px;
    height:100px;
    padding: 32px 0 0; 
  }
  .competition-hero {
 height:450px;
}


.competition-hero p {
  font-size: 6px;
}


}

.page-footer {
  height: 200px;
}


main {
  flex: 1 0 auto;
}

.tab{
	font-size: 10pt;
}

.large{
  font-size: 14pt;
}

.white-border{
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.container{
  width:55%;  
}

td, th {
  padding: 8px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
  font-size: 13px;
}


td, th p {
font-size: 11px;
}

.border-top{
  border-top-style: solid;
  border-top-color: #ff6d00;
}

.border-bottom{
  border-bottom-style: solid;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
}

/* label color */
.input-field label {
  color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}


.splash-hero {
  padding: 80px 0 0;
}

.banner {
  border-color: lightgray;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.Competition-hero {
  padding: 30px 0;
}

.Competition-hero h1 {
  font-weight: 500px;
}

.container-comp {
  padding: 0 0 0 0;
}

nav {
  background-color: #fff;
  border-bottom: 1px solid;
  border-color: lightgray;
  text-transform: uppercase;
  letter-spacing: 3px;

}

nav ul a {
  padding: 0 25px;
   color: #000;
   font-weight:400;

}

nav ul li:hover, nav ul li.active {
    background-color: #ffcc80;
}

nav ul li {
    transition: background-color .9s;
}

.container-sub {
    width:60%;
    margin: 0 auto;
}


nav.submenu ul a {
  padding: 0 55px;
   color: #000;
   font-style:black;

}


.row

.row .gs-hints {
  margin-top: 43px;
  padding: 0 30px 0 0x;
  font-size: 13px;
  float: right;
}

.gs-hint-box {
  position: relative;
  margin-top: 43px;
  padding: 0 10px 0 0;
  font-size: 13px;
}

.gs-hint-box div {
  display: none;
}

.gs-hint-box .gs-speech-bubble {
  padding: 0 13px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eeeeee;
}

h1{
  color: #000;

}

h5{
  color: #212121;
}

/*.gs-speech-bubble:before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 30px;
  top: 100px;
  border: 25px solid;
  border-color: #666 transparent transparent #666;
}

.gs-speech-bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 38px;
  top: 100px;
  border: 15px solid;
  border-color: #fff transparent transparent #fff;
}*/

.gs-hint-box .gs-talking-noob {
  width: 50%;
}

.gs-talking-noob img {
  width: 100%;
}

.gs-badge {
  width: 20%;
  margin: 0 2rem 2rem 0;
}

.gs-quest-box {
  background-color: #ddd;
  width: 100%;
  padding: 20px;
}

.gs-quest-box h5 {
  margin-top: 0;
}

.gs-quest-box p:last-child {
  margin-bottom: 0;
}

.about-font {
  font-weight: 400;
  font-size: 22px;
}

img.responsive-img {

}

.card {
    border-radius:10px;
    border-color: lightgray;
    border-style: solid;
    border-width: thin;
    margin: 0;
}

.card .card-image img {
  width: 100%;
}

.card .card-content {
  font-size: 11pt;
  padding: 10px 15px 0 15px;
overflow: none;
}

.card .card-action {
  padding:10px;
  border-top: 1px solid;
  border-color: lightgray;
  font-size: 11pt;
  font-color: #ffab40;
  text-align: center;
  background-color: #fff;
}


.card .card-content p {
  height: 100px;
  font-size: 8pt;
  overflow: none;
  font-weight: 400;
  color: #757575; 
}


.card .card-content h6 {
  font-size: 9pt;
  font-weight: 500;
  font: bold;

}

.card .card-action a {
  
  font-size: 8pt;
  font-weight: 400;
  color: #ffab40; 

  transition: color .7s ease;
}

.fadeout {
    position: relative; 
    bottom: 6em;
    height: 4em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
} 