/* CSS declarations go here */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .tab{
  	font-size:10pt;
  }
  .large{
    font-size:14pt;
  }

  .white-border{
    border-style:solid;
    border-width:5px;
    border-color:white;
  }
  .container{
    width:55%;
  }

  .border-top{
    border-top-style:solid;
    border-top-width:10px;
    border-top-color:#ff6d00;
  }

  /* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #000;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #000;
   }

   .splash-hero {
    padding: 175px 0;
   }

   .Competition-hero {
    padding: 120px 0;
   }

   nav.submenu ul a {
  padding: 0 35px;
}

.row .gs-hints {
  margin-top: 43px;
  padding: 0 20px 0 40px;
  font-size: 13px;
}